/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

{
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1rem auto;
    width:90%;
    min-width:56.25rem;
    max-width:100rem;
}

/* Layout */

header {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  
}

.main-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
        
}

article {
    grid-column: 1 / 2;
    grid-row: 1;
}

aside {
    grid-column: 2 / 4;
    grid-row: 1;
    border-left: 1px solid black;
    padding-left: 1rem;
    column-width: 1000px;
      
}

.subsection {
    display: flex;
}

/* Links and Nav */

nav a {
    display: inline-block;
    text-decoration: none;
    font-family: montserrat;
    font-size: 1.3rem;
    font-weight:bold;
    padding: 1.5rem 2rem;
    
}

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav a:focus, nav a:hover {
    color: #000000;
    background-color: none;
    text-decoration: line-through;
    transform: rotate(5deg);
}

nav a:active {
    color: #5B6F8E;
    background-color: none;
}

/* Images and Figs */

.highlight{
  display: inline-block;
  font-family:ultra,Garamond, serif;
  transform: rotate(-deg);
  padding: 20px 10px;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #E1D7CC;
  background-color: #8C3A58;
  border: none;
  border-radius: 10px 2px 10px 2px;
  box-shadow: -webkit-box-shadow: 4px 5px 6px 5px; 
  box-shadow: 4px 5px 6px 1px rgba(0,0,0,0.76);
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 2px black;  
}
img {
    width: 100%;
    
}

.resize {
    width: 250px;
    height: auto;
    margin-left: 2rem;
    
}

.call {
    font-size: .9rem;
    width: 260px;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    column-width: 200px;
    
}

.call1 {
    font-size: 1.2rem;
    width: 260px;
    
}

.rotate{
    transform: rotate(-5deg);
}


.article-image {
    position: relative;
    width: 33%;
    float: left;
    margin-right: 2rem;
    margin-left: 0rem;
}

time {
    padding-left:2rem;
    font-style: italic;
    font-size: .9rem;
}

.expand {
    font-size: 4px;
    letter-spacing: 1px; 
    text-decoration: none;
    
}

.footer{
    font-size: .9rem;
}

/* imported typfaces */ 
/* Imported Typfaces */

@font-face {
    font-family: "ultra-regular";
    src: url("../fonts/serif/ultra-regular.tff") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotoslab-regular";
    src: url("../fonts/serif/robotoslab-regular.tff") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "rozhaone-regular";
    src: url("../fonts/serif/rozhaone-regular.tff") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "josefinslab-regular";
    src: url("../fonts/serif/josefinslab-regular.tff") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lato-regular";
    src: url("../fonts/sans-serif/lato-regular.tff") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/sans-serif/montserrat-regular.tff") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "opensans-regular";
    src: url("../fonts/san-serif/opensans-regular.tff") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/sans-serif/roboto-regular.tff") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Typography Styles */

h1 {
   font-family: montserrat, Garamond, serif;
   letter-spacing: 0.125rem;
   font-size: 2rem;
   font-weight: bold;
   margin: 1.125rem;
   padding-left: 2rem;
   padding-right: 2rem;
   text-align: center;
}

h2 {
   font-family: montserrat, Garamond, serif;
   letter-spacing: 0.0625rem;
   font-size: 1.6rem;
    margin-left: 2rem;
}

h3 {
   font-family: montserrat, Garamond, serif;
   letter-spacing: 0.0625rem;
   font-size: 1.4rem;
   margin-left: 2rem;
}

p {
   font-family: montserrat, Garamond, serif;
   letter-spacing: 0.0625rem;
   font-size: 1rem;
   margin-left: 2rem;
}

aside, p {
   font-family: montserrat, Garamond, serif;
   letter-spacing: 0.02rem;
   font-size: 1.2rem;
}



figcaption {
font-family: montserrat, Garamond, serif;
font-size: 1rem;
background-color: #EEEEDD;
padding: 1rem;

}


button {
  display: inline-block;
  font-family:ultra;
  padding: 10px 15px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #27476E;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
  margin-left: 2rem;
}

footer {
    text-decoration: none;
}
